version: '3'
services:
  tdengine:
    image: tdengine/tdengine:latest
    container_name: tdengine_test
    ports:
      - "6030:6030"  # TDengine HTTP API
      - "6031:6031"  # TDengine TCP API
      - "6032:6032"  # TDengine UDP API
      - "6041:6041" #Old HTTP port
    volumes:
      - $PWD/data/taos/dnode/data:/var/lib/taos
      - ~/data/taos/dnode/log:/var/log/taos

  emqx:
    image: amd64/emqx:latest
    container_name: emqx_test
    ports:
      - "1883:1883"   # MQTT
      - "8883:8883"   # MQTT over TLS
      - "8083:8083"   # EMQX Dashboard (HTTP)
      - "8084:8084"   # EMQX Dashboard (HTTPS)
      - "18083:18083" # EMQX Management Dashboard
    volumes:
      - ~/data/emqx/data:/opt/emqx/data
      - ~/data/emqx/log:/opt/emqx/log
      - ~/data/emqx/etc:/opt/emqx/etc

